<mat-card class="example-card">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="5">
      <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>{{product.shortdescription}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image style="width:200px;height:300px" src="{{product.productimageurl}}" alt="Photo of a Shiba Inu">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="5">
      <mat-card-content>
        <h3>Description</h3>
        <p>{{product.longdescription}}</p>
        <br />
        <h3>Rating</h3>
        <button mat-icon-button *ngFor="let item of arrayOne(product.rating)" color="black">
          <mat-icon aria-label="Example icon-button with a heart icon">grade</mat-icon>
        </button>
      </mat-card-content>
    </mat-grid-tile>
    </mat-grid-list>
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <h3>Write review</h3>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment" [(ngModel)]="review"></textarea>
      </mat-form-field>&nbsp;&nbsp;&nbsp;
      <button mat-stroked-button color="primary" (click)="saveReview()">Write review</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <h3>Rating</h3>
      <mat-form-field>
        <select matNativeControl required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </mat-form-field>
      <button mat-stroked-button color="primary">Save rating</button>
    </mat-grid-tile>
    <!--<mat-grid-tile [colspan]="1" [rowspan]="5">
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
  </mat-grid-tile>-->
  </mat-grid-list>
</mat-card>
